{% extends 'photos/pagination.html' %}

{% block content %}
{% for photo in photo_list %}
<ul>
    <a href="{% url 'photo_details' photo.id %}">
        <img src="{{ photo.image.url }}" alt="image">
    </a>
    <p>Posted by {{photo.user}} <br /><br /></p>

</ul>
{% endfor %}
{% endblock %}