<! Pagination options >
<form method="GET">
    <select name="paginate_by">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
    <input type="submit" value="Paginate">
</form>

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&paginate_by={{ page_obj.paginator.per_page }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&paginate_by={{ page_obj.paginator.per_page }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&paginate_by={{ page_obj.paginator.per_page }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&paginate_by={{ page_obj.paginator.per_page }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% block content %}
{% endblock %}